* {
  font-family: Lato, sans-serif ;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

/* PORTFOLIO */
.portfolio {
  width: 100%;
  background-color: #2d303a;
  box-shadow: 0 -7px 0 0 #323746 inset;
}

.service-title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  padding-top: 70px;
  letter-spacing: -0.2px;
}

.service-text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 26.7px;
}

.portfolio-tags {}

.tag {}

.tag-selected {}

.tag-bordered {}

/* ABOUT US */
.about-us {
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 -7px 0 0 #ffffff inset;
}

.about-us-item {
  /* display: flex;
  flex-direction: row; */
}

.about-us-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-top: -3px;
}

.about-us-item-text {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 0.1px;
  text-align: justify;
}

.social-media {
  display: flex;
}