* {
  font-family: Lato, sans-serif ;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

/* HEADER */
header {
  width: 100%;
  height: 95px;
  background-color: #2d303a;
  box-shadow: 0 -7px 0 0 #323645 inset;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

h1 {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  margin-top: 42px;
  letter-spacing: -0.7px;
  word-spacing: -3.5px;
}

.header-colored {
  color: #f06c64;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}

ul {
  margin: 0;
  list-style: none;
}

ul.navigation li {
  display: inline;
  margin: 0 0 0 8px;
}

ul.navigation li+li:before {
  content: ".";
  font-weight: 700;
  font-size: 19px;
  font-family: Lato sans-serif;
  color: #494e62;
  padding: 8px;
  position: relative;
  bottom: 3px;
  left: -1px;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}


/* SLIDER */
.slider {
  width: 100%;
  background-color: #f06c64;
  box-shadow: 0 -6px 0 0 #ea666b inset;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* margin: 0 auto; */
  margin-top: 281px;
}

.slider-button:hover {
  cursor: pointer;
}

.slider-button-right {
  margin-left: 907px;
}

.slider-phones {
  display: flex;
  height: 600px;
}

.slider-first-picture {
  margin-top: 37px;
  margin-left: 62px;
}

.slider-second-picture {
  margin-top: 147px;
  margin-left: 68px;
} 


/* SERVICE */
.service {
  width: 100%;
  height: 499px;
  background-color: #f2f2f2;
  box-shadow: 0 -7px 0 0 #ffffff inset;
}

.service-title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  padding-top: 69px;
  padding-left: 0px;
  letter-spacing: -0.3px;
}

.service-text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 0.1px;
  word-spacing: -0.6px;
  padding-top: 26px;
}

.layout-3-column-number-1 {
  display: flex;
  padding-top: 47.5px;
  justify-content: space-between;
}

.service-items {
  display: flex;
  width: 300px;
}

.service-item {
  padding-left: 16px;
}

.service-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-top: -3px;
}

.service-item-text {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 0.1px;
  text-align: justify;
  word-spacing: -0.1px;
}

.layout-3-column-number-2 {
  display: flex;
  padding-top: 43px;
  justify-content: space-between;
}

.service-item-title-2 {
  letter-spacing: 0.1px;
  margin-top: -3px;
}

.service-items-2 {
  margin-top: -10px;
}

/* PORTFOLIO */
.portfolio {
  width: 100%;
  background-color: #2d303a;
  box-shadow: 0 -7px 0 0 #323746 inset;
}

.service-title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  padding-top: 70px;
  letter-spacing: -0.2px;
}

.service-text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  margin-top: -0.3px;
}

.portfolio-tags {
  padding-top: 10px;
}

.tag {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  border: 1px solid #666699;
  border-radius: 5px;
  margin-right: 19px;
}

.tag:hover {
  cursor: pointer;
}

.tag-selected {
  border: 1px solid #ffffff;
}

.tag-bordered {}

.layout-4-column {
  margin-top: 5px;
  padding-bottom: 69px;
  display: flex;
  flex-wrap: wrap;
  width: 971px;
}

.portfolio-image {
  margin-right: 20px;
  margin-top: 16px;
}

/* ABOUT US */
.about-us {
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 -7px 0 0 #ffffff inset;
}

.layout-3-column {
  display: flex;
  padding-top: 45px;
  padding-bottom: 72px;
}

.about-us-item {
  margin-right: 19px;
  /* display: flex;
  flex-direction: row; */
}

.about-us-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.1px;
  margin-top: 14px;
}

.about-us-item-text {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 0.1px;
  text-align: justify;
}

.social-media {
  display: flex;
  margin-top: 22px;
}

.social-media-icon:hover {
  box-shadow: inset 2px 4px 22px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  cursor: pointer;
  transition: 0.1s;
}

/* QUOTE */
.quote {
  background-color: #f06c64;
  box-shadow: 0 -7px 0 0 #ea676b inset;
}

.quote-title {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  padding-top: 68px;
  letter-spacing: -0.1px;
}

.quote-text {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
}

.first-line {
  margin-top: 28px;
  letter-spacing: 0.14px;
}

.second-line {
  margin-top: -27px;
}

.quote-content {
  display: flex;
  margin-top: 14.5px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  border: none;
  background-color: #d6564f;
  color: #f48c8f;
  font-size: 12px;
  line-height: 21.56px;
  width: 590px;
  height: 38px;
  margin-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border-radius: 4px;
}

.input-1 {
  padding-top: 2px;
}

.input-2 {
  margin-top: -1px;
}

.input-3 {
  margin-top: -3px;
}

.input-4 {
  margin-top: -1px;
  margin-bottom: 74px;
  height: 197px;
}

input::placeholder,
textarea::placeholder {
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}

#Name:invalid,
#Email:invalid {
  border: #ffffff solid 1px;
}

.quote-contact {
  margin-left: 21px;
  margin-top: 3px;
}

.quote-contact-title {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.1px;
}

.quote-contact-text {
  width: 300px;
  /* height: 175px; */
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  padding-top: 10px;
  letter-spacing: -0.1px;
  text-align: justify;
}

.quote-contacts {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
}

.quote-contacts-first {
  padding-top: 21px;
}

.quote-img {
  padding-right: 12px;
}

a {
  text-decoration: none;
  color: #f0d8d9;
  margin: 0;
}

/* FOOTER */
footer {
  background-color: #2d303a;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.copyright {
  font-size: 12px;
  line-height: 6.23px;
  color: #666d89;
}

.footer-social-media {
  display: flex;
}

.social-media:hover {
  box-shadow: inset 2px 4px 22px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  cursor: pointer;
  transition: 0.1s;
}